--
-- Create model Acompanamiento
--
CREATE TABLE "BOCARELLA_ACOMPANAMIENTO" ("ID" NUMBER(19) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NOMBRE" NVARCHAR2(100) NULL, "PRECIO" NUMBER(8, 0) NOT NULL, "IMAGEN" NVARCHAR2(100) NULL);
--
-- Create model Extra
--
CREATE TABLE "BOCARELLA_EXTRA" ("ID" NUMBER(19) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NOMBRE" NVARCHAR2(100) NULL, "PRECIO" NUMBER(8, 0) NOT NULL, "IMAGEN" NVARCHAR2(100) NULL);
--
-- Create model Pizza
--
CREATE TABLE "BOCARELLA_PIZZA" ("ID" NUMBER(19) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NOMBRE" NVARCHAR2(100) NULL, "DESCRIPCION" NCLOB NULL, "PRECIO" NUMBER(8, 0) NOT NULL, "IMAGEN" NVARCHAR2(100) NULL);
--
-- Create model Promocion
--
CREATE TABLE "BOCARELLA_PROMOCION" ("ID" NUMBER(19) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "TITULO" NVARCHAR2(100) NULL, "DESCRIPCION" NCLOB NULL, "PRECIO" NUMBER(8, 0) NOT NULL, "IMAGEN" NVARCHAR2(100) NULL);
--
-- Create model Orden
--
CREATE TABLE "BOCARELLA_ORDEN" ("ID" NUMBER(19) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "FECHA" TIMESTAMP NOT NULL, "TOTAL" NUMBER(10, 0) NOT NULL, "USUARIO_ID" NUMBER(11) NOT NULL);
--
-- Create model OrdenItem
--
CREATE TABLE "BOCARELLA_ORDENITEM" ("ID" NUMBER(19) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NOMBRE" NVARCHAR2(100) NULL, "CANTIDAD" NUMBER(11) NOT NULL CHECK ("CANTIDAD" >= 0), "PRECIO" NUMBER(10, 0) NOT NULL, "ORDEN_ID" NUMBER(19) NOT NULL);
--
-- Create model Perfil
--
CREATE TABLE "BOCARELLA_PERFIL" ("ID" NUMBER(19) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "DIRECCION" NVARCHAR2(255) NULL, "ROL" NVARCHAR2(10) NULL, "USER_ID" NUMBER(11) NOT NULL UNIQUE);
ALTER TABLE "BOCARELLA_ORDEN" ADD CONSTRAINT "BOCARELLA_USUARIO_I_9A79FF81_F" FOREIGN KEY ("USUARIO_ID") REFERENCES "AUTH_USER" ("ID") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "BOCARELLA__USUARIO_ID_9A79FF81" ON "BOCARELLA_ORDEN" ("USUARIO_ID");
ALTER TABLE "BOCARELLA_ORDENITEM" ADD CONSTRAINT "BOCARELLA_ORDEN_ID_8B78334B_F" FOREIGN KEY ("ORDEN_ID") REFERENCES "BOCARELLA_ORDEN" ("ID") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "BOCARELLA__ORDEN_ID_8B78334B" ON "BOCARELLA_ORDENITEM" ("ORDEN_ID");
ALTER TABLE "BOCARELLA_PERFIL" ADD CONSTRAINT "BOCARELLA_USER_ID_6AFCB921_F" FOREIGN KEY ("USER_ID") REFERENCES "AUTH_USER" ("ID") DEFERRABLE INITIALLY DEFERRED;
