html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.headerID {
  background-color: #2E7D32 !important;
  color: white;
  position: relative;
  z-index: 1000;
}

.subheader {
  background-color: rgb(0, 84, 4) !important;
  transition: top 0.1s ease;
}

.navbar {
  background-color: rgb(17, 88, 22) !important;
}

.navbar .nav-link,
.headerID .nav-link,
.subheader .nav-link {
  color: #fff !important;
  font-weight: 500;
}

.navbar .nav-link:hover,
.headerID .nav-link:hover,
.subheader .nav-link:hover {
  color: #dfc896 !important;
  text-decoration: none;
  transform: scale(1.1);
  font-weight: bold;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1050;
  background-color: rgb(0, 104, 5);
}

.navbar-nav .nav-item.dropdown {
  position: relative;
}

.custom-navbar .container {
  display: flex;
  align-items: center;          
  justify-content: space-between; 
}

.custom-navbar .navbar-nav {
  display: flex;
  align-items: center;     
  gap: 15px;     
}

.custom-navbar .nav-item .nav-link,
.custom-navbar .btn {
  display: flex;
  align-items: center;     
}

.custom-navbar .btn.btn-danger {
  margin-left: auto; 
}

.footer1id {
  background-color: rgb(227, 239, 179);
  color: #333;
  padding: 20px 0;
  text-align: center;
}

.footer1id a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
}

.footer1id a:hover {
  color: rgb(0, 104, 5);
  text-decoration: underline;
}

.carrito-css {
  color: #ffffff;
  text-decoration: none;
}

.carrito-css2 {
  background-color: rgb(46, 158, 53);
  padding: 8px;
  border-radius: 20%;
}

@media (max-width: 992px) {
  #subNavContent .navbar-nav {
    flex-direction: column;
    text-align: center;
  }
  #subNavContent .nav-item {
    margin-bottom: 10px;
  }
}
