
body {
    background-color: #F5F5DC;
    color: rgb(27, 26, 26);
}

.bannerid img {
    border-radius: 10px;
    object-fit: cover;
    max-height: 500px; /* limita altura para que no se vea gigante */
    width: 100%;
}

.main-content {
    padding-top: 90px;
}

@media (max-width: 768px) {
    .bannerid {
        margin: 0 5%;
    }
}
