
body {
    background-color: #F5F5DC;
    color: rgb(27, 26, 26);
}

nav.bg-light {
  background-color: #F5F5DC !important; 
  border-bottom: 1px solid #333; 
}


.btn-outline-custom {
    border-width: 2px;
    font-weight: bold;
    transition: all 0.3s ease;
}


.promociones-btn {
    color: #d9534f; 
    border-color: #d9534f; 
}
.promociones-btn:hover {
    background-color: #d9534f;
    color: white;
}


.pizzas-btn {
    color: #5cb85c;
    border-color: #5cb85c;
}
.pizzas-btn:hover {
    background-color: #5cb85c;
    color: white;
}


.acompanamientos-btn {
    color: #f0ad4e;
    border-color: #f0ad4e;
}
.acompanamientos-btn:hover {
    background-color: #f0ad4e;
    color: white;
}


.extras-btn {
    color: #5bc0de;
    border-color: #5bc0de;
}
.extras-btn:hover {
    background-color: #5bc0de;
    color: white;
}


.card {
  border: 2px solid #2E7D32; 
  border-radius: 12px;       
  background-color: #ffffff; 
  color: #000000;              
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.card img.card-img-top {
  width: 100%;         
  height: 200px;       
  object-fit: cover;   
  border-bottom: 2px solid #ffffff; 
  border-top-left-radius: 12px;     
  border-top-right-radius: 12px;
}