{% load static %}
<footer class="text-dark pt-4 mt-5 footer1id">
  <div class="container text-center text-md-start">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5 class="fw-bold textore">BOCARELLA</h5>
        <p>Más que una pizza, una experiencia. Descubre, comparte y disfruta cada rebanada.</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5 class="fw-bold">Enlaces</h5>
        <ul class="list-unstyled">
          <li><a class="text-dark text-decoration-none" href="{% url 'index' %}">Inicio</a></li>
          <li><a class="text-dark text-decoration-none" href="{% url 'ubicacion' %}">Ubicacion</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5 class="fw-bold">Síguenos</h5>
        <a href="#" class="text-dark me-3"><i class="fab fa-facebook fa-lg"></i></a>
        <a href="#" class="text-dark me-3"><i class="fab fa-twitter fa-lg"></i></a>
        <a href="#" class="text-dark me-3"><i class="fab fa-instagram fa-lg"></i></a>
        <a href="#" class="text-dark"><i class="fab fa-youtube fa-lg"></i></a>
      </div>
    </div>
  </div>
  <div class="text-center py-3" style="background-color: rgb(189, 197, 157);">
    <small>© 2025 BOCARELLA. Todos los derechos reservados.</small>
  </div>
</footer>
